.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 21px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: #AFEEEE;
    color: white;
}

.topnav .icon {
    display: none;
}


#myTable {
    border-collapse: collapse;
    width: 100%;
    padding: 10%;
}

#myTable th,
#myTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #87CEEB;
    color: white;
}

input[type="button"] {
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #f2f2f2;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row > input[type="button"] {
    margin: 10px;
    flex: 1 1 200px;
}

@media (max-width: 1000px) {
    .row > input[type="button"] {
        flex: 1 1 100%;
    }
}